.sidebar {
  width: 300px;
  background-color: #0f131a;
  min-height: 100vh;
  padding: 16px;
  overflow-y: auto;
}

.sidebar-header {
  padding: 0 20px 20px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #06b6d4;
}

.logo-icon {
  width: 114px;
  height: 34px;
  /* background-color: #06b6d4;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0f172a;
            font-size: 14px; */
}

.sidebar-section {
  margin-bottom: 24px;
}

.sidebar-section-title {
  color: #b5bdc9;
  font-family: Inter;
  font-size: 16px;
  padding: 8px 0;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.sidebar-menu {
  list-style: none;
}

.sidebar-menu li {
  position: relative;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  margin-bottom: 10px;
  color: #cbd5e1;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-menu a:hover {
  transition: all 0.5s;
  background-color: #020817;
  color: #1be1b3;
  border-left: 3px solid #1be1b3;
  border-radius: 8px;
}

.active {
  background-color: #020817;
  color: #1be1b3;
  border-left: 3px solid #1be1b3;
}

.menu-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.menu-label {
  flex: 1;
  display: flex;
  color: var(--font-color-icon-title, #b5bdc9);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  text-align: left;
}
